body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.menu {
    margin-bottom: 20px;
}

select, button {
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin: 5px;
}

button {
    background: #29a745;
    color: white;
    font-weight: bold;
}

button:active {
    transform: scale(0.95);
}

.game-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

#winnerOverlay {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 18px;
    background: rgba(0, 180, 0, 0.85);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    display: none;
}

#board {
    margin-top: 10px;
    display: grid;
    gap: 5px;
}

.cell {
    background: #222;
    width: 80px;
    height: 80px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.cell:active {
    background: #333;
}